body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f8f9f5;
}

.navbar {
    background-color: #8FB76D; 
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ecf0f1;
    font-size: 24px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 160px;
}

.nav-list li {
    margin-right: 20px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 900;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.nav-list a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-list a:hover::before {
    width: 100%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #8FB76D; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown li {
    margin: 0;
    list-style-type: square; /* Remove default bullets for dropdown */
    color: white;
}

.dropdown a {
    padding: 10px;
    color: #ecf0f1;
}

.dropdown a:hover {
    color: black; 
}

.nav-list li:hover .dropdown {
    display: block;
}

/*Table Adjusting Entries*/
table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

th, td {
    border: 3px solid #555D50; 
    padding: 8px;
    text-align: left;
}
.td1 {
    text-align: center;
}
.td2 {
    text-align: center;
}
th {
    background-color: #4CAF50;
    text-align: center;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}